#map {
    height: 95%;
    background-color: black;
}


#host {
	line-height: 75px;
}


// Host
#profileImage img {
	width: 300px;
	height: 300px;
}

#hostForm {
	.form-check-label {
		font-size: 25px;
	}
}