
// Homepage
// #map {
//     height: 200px;
//     background-color: white;
// }

$purple: #9763C8;

//Homepage buttons
#hostSignupButton {
	line-height: 75px;
	width: 100%;
}

#needSignupButton {
	line-height: 75px;
	width: 100%;
}

.header {
	background-color: $purple;
	height: 120px;
	margin-bottom: 20px;

	h1 {
		color: white;
		font-family: Dosis;
	}

	#villageIcon {
		color: white;
	}

	img {
		height: 35px;
	}

	a {
    text-decoration: none !important;
	}
}

.upvote {
	background-color: green;
}

.downvote {
	background-color: red;
}

.homPageTitles {
	margin-left: 5px;
}

// Client/Host Signup Page
#profileImage img {
	width: 200px;
	height: 200px;
}

#hostForm {
	.form-check-label {
		font-size: 25px;
		font-weight: 400;
	}
}

#submitButton {
	padding-top: 20px;
}

.profile_item {
	img {
	width: 96px;
	height: 96px;
}}