<!doctype html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="host-list.js"></script>
</head>

<body>
    <div class="container-fluid">
        <!-- 	Header -->
        <div class="row header">
        <center>
            <a href="index.html"><h1>Village</h1></span></a>
            <a href="index.html"><img src="img/villageLogo.png"></a>
        </center>
    </div>
    <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Sort By
      <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a href="#" onclick="sortAlpha();">Alphabetical</a></li>
        <li><a href="#" onclick="sortPop();">Popularity</a></li>
      </ul>
    </div>
        


        
        <ul class="list-group" id="host-list"></div>
</body>

</html>