<!doctype html>
<html lang="en">

<head>
    <meta name="google-signin-client_id" content="426195066276-70erj6u039a42qq9lq3ec087jtiagve2.apps.googleusercontent.com">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="index.js"></script>
</head>
<!-- <script>
var map, infoWindow;

function initMap() {
    map = new google.maps.Map(document.getElementById('map'), {
        center: { lat: -34.397, lng: 150.644 },
        zoom: 15
    });
    infoWindow = new google.maps.InfoWindow;

    // Try HTML5 geolocation.
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(function(position) {
            var pos = {
                lat: position.coords.latitude,
                lng: position.coords.longitude
            };

            infoWindow.setPosition(pos);
            infoWindow.setContent('Current Location');
            infoWindow.open(map);
            map.setCenter(pos);
        }, function() {
            handleLocationError(true, infoWindow, map.getCenter());
        });
    } else {
        // Browser doesn't support Geolocation
        handleLocationError(false, infoWindow, map.getCenter());
    }
}

function handleLocationError(browserHasGeolocation, infoWindow, pos) {
    infoWindow.setPosition(pos);
    infoWindow.setContent(browserHasGeolocation ?
        'Error: The Geolocation service failed.' :
        'Error: Your browser doesn\'t support geolocation.');
    infoWindow.open(map);
}
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCMWAB22eiYXNKhe26nM0rPeV2DOMJ2Xy0&callback=initMap">
</script> -->
<div class="container-fluid">
    <!-- 	Header -->
    <div class="row header">
        <center>
            <a href="index.html"><h1>Village</h1></span></a>
            <a href="index.html"><img src="img/villageLogo.png"></a>
        </center>
    </div>



    <!-- Main Map -->
    <div class="row">
        <div class="col-xs-12" id="map"></div>
    </div>



   <!--  Homepage list -->
    <div class="row">
    	<h3 class="homePageTitles">Near you:</h3>
    	<div class="col-xs-12" id="homepageList">
    		<ul class="list-group">
			  <li class="list-group-item">
			  	<span class="glyphicon glyphicon glyphicon-flash" aria-hidden="true"></span>
			  	electricity

			  	<span class="badge badge-primary badge-pill" id="electricity-count">0</span>
			  </li>

              <li class="list-group-item">
                <span class="glyphicon glyphicon glyphicon-cutlery" aria-hidden="true"></span>
                food

                <span class="badge badge-primary badge-pill" id="food-count">0</span>
              </li>

			  <li class="list-group-item">
			  	<span class="glyphicon glyphicon glyphicon-fire" aria-hidden="true"></span>
			  	heat

			  	<span class="badge badge-primary badge-pill" id="heat-count">0</span>
			  </li>

              <li class="list-group-item">
                <span class="glyphicon glyphicon glyphicon-tint" aria-hidden="true"></span>
                water

                <span class="badge badge-primary badge-pill" id="water-count">0</span>
              </li>

              <li class="list-group-item">
                <span class="glyphicon glyphicon-folder-close" aria-hidden="true"></span>
                laundry

                <span class="badge badge-primary badge-pill" id="laundry-count">0</span>
              </li>

			  <li class="list-group-item">
			  	<span class="glyphicon glyphicon glyphicon-home" aria-hidden="true"></span>
			  	shelter

			  	<span class="badge badge-primary badge-pill" id="shelter-count">0</span>
			  </li>

              <li class="list-group-item">
                <span class="glyphicon glyphicon glyphicon-tint" aria-hidden="true"></span>
                shower

                <span class="badge badge-primary badge-pill" id="shower-count"></span>
              </li>

			  

			  <li class="list-group-item">
			  	<span class="glyphicon glyphicon glyphicon-cloud-upload" aria-hidden="true"></span>
			  	wifi

			  	<span class="badge badge-primary badge-pill" id="wifi-count">0</span>
			  </li>

    	</div>

    </div>




    <!-- Bottom buttons -->
    <div class="row">
    	<h3 class="homePageTitles">Sign up</h3>
        <div class="col-xs-6">
            <button type="button" class="btn btn-primary" id="hostSignupButton" onclick="location.href = 'host.html';">I am a host</button>
        </div>
        <div class="col-xs-6">
            <button type="button" class="btn btn-success" id="needSignupButton" onclick="location.href = 'client.html';">I am in need</button>
        </div>
    </div>
</div>